
# compiled output
/client/dist/
/*/target/
/client/src/app/**/*.js
/client/src/environments/*.js
/client/src/*.js

# dependencies
/client/node_modules

# IDEs and editors
/.idea
*.iml


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/client/.sass-cache
/client/connect.lock
/client/coverage/*
/client/libpeerconnection.log
/client/npm-debug.log
/client/testem.log
/client/typings

# e2e
/client/e2e/*.js
/client/e2e/*.map

#System Files
.DS_Store
Thumbs.db


